# Vivado
*.gen/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.cache/
.Xil/
*.jou
*.log
*.str

# Vitis IDE (generado automáticamente)
.metadata/
.analytics
RemoteSystemsTempFiles/
IDE.log
# Ignorar las carpetas de drivers y bsp generadas
**/psu_cortexa53_0/
**/zynqmp_fsbl/
**/zynqmp_pmufw/
**/zynqmp_fsbl_bsp/
**/zynqmp_pmufw_bsp/
**/libsrc/
**/export/
# Archivos de inicialización de hardware generados
psu_init.c
psu_init.h
psu_init.tcl
psu_init_gpl.c
psu_init_gpl.h

# Build outputs
*/Debug/
*/Release/
*.o
*.obj
*.ko

# Matlab
slprj/
*.slxc
*.mldatx

# VS Code y IDE
.vscode/
.iis/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db